#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 0px;
  margin: 0px 10px 15px 10px;
  border-radius: 5px;
  font-size: 17px;
}

#friends-display-link i {
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen {
  padding: 10px var(--horizontal-space);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--main-border);
  opacity: 0.6;
  padding: 20px 0px;
  margin: 15px 0px;
}
