.musiclist {
  padding: 0px;
  position: relative;
  left: -15px;
}

.musiclist-icon {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.musiclist-list {
  display: flex;
  align-items: center;
}
.musiclist-name {
  position: relative;
  top: -10px;
}
.name-title {
  margin-bottom: 10px;
}

.name-composer {
  margin-top: 0px;
  opacity: 0.7;
}
.icon-tomato {
  background-color: #f85a2b;
}
.icon-pink {
  background-color: #fe89bb;
}
.icon-blue {
  background-color: #1947e4;
}
.icon-teal {
  background-color: #00c6ac;
}
