.alt-screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px var(--horizontal-space) 30px var(--horizontal-space);
  margin-bottom: 15px;
  align-items: center;
}

.alt-screen-header__title {
  font-weight: 600;
  font-size: 28px;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:first-child {
  margin-right: auto;
}
.alt-screen-header__column:nth-child(2) {
  text-align: center;
}
.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
